@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Default styles for the browser */

/*.state-button {
    border: solid 1px #66686D;
	border-radius: 5px;
	background-color: #FFFFFF;
	color: #ff0000;
}

.key-findings-input {
    padding: 1em;
	border: solid 1em #F376AB;
}*/

.submission-form {
	max-width: 500px;
	margin:2rem auto;
	border: 2px solid #2b385e;
	padding: 2rem;
}

label {
	display: block;
	padding: 1rem 0 .25rem;
	text-transform: uppercase;
	font-size: 14px;
}

input, textarea {
	display: block;
	width: 100%;
	border: 2px solid#2980B9;
	padding: .5rem;
	font-size: 18px;
	border-radius: 5px;
}

#addBtn {
	border: 0;
	background: #343050;
	padding: .5rem;
	color: white;
	margin: 1rem 0;
	width: auto;
	text-transform: uppercase;
	
}