@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.patient-table-container{
	margin: 4% 3% 10% 3%;
	max-width: 1750px;
	transition: transform 700ms, margin 500ms, width 700ms, max-width 700ms;
}
.app-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem;
	min-width: 95%;
	margin-top: 1em;
	margin-left: 1em;
  }

  .app-container td:last-child, .app-container td:nth-child(1), .app-container td,th{

	transition: width 700ms; 

 }


table {
	border-collapse: collapse;
	width: 100%;
  }

  th,
  td {
	text-align: left;
	padding: 8px;
	
  }

 .app-container td{
	cursor: default;
	font-family: 'Roboto', sans-serif;
	font-size: clamp(1.1rem,1.2vw,1.3rem);
	width: auto;
 }

 .app-container tr:hover{
	 background-color: rgb(245, 245, 245);
 }
 
  th {
	background-color: #ECECF2;
	font-size: 20px;
	width: auto;
	
  }

 
  thead th:first-child{
	  border-radius: 10px 0px 0px 10px;
	  
  }

  thead th:last-child{
	border-radius: 0px 10px 10px 0px;
}

.create-exam {
	margin-top: 25px;
	margin-left: 2em;
	margin-right: 1em;
	margin-bottom: 25px;
	min-width: 98%;
}
.create-exam h2{
	margin-bottom: 15px;

}

.create-exam thead th{
	border-bottom: solid 4px white;
}

.create-exam thead th:first-child{
	border-radius: 10px 0px 0px 0px;
	border-bottom: solid 4px white;
}

.create-exam thead th:last-child{
  border-radius: 0px 10px 0px 0px;
}

.create-exam tbody td:first-child{
	border-radius: 0 0px 0 10px;

}

.create-exam tbody td:last-child{
  border-radius: 0px 0px 10px 0;
}
.create-exam tbody tr{
	/* background-color:rgb(196, 198, 204); */
	background-color: #ECECF2;
	border-radius: 10px;
}

.create-exam tbody input{
	border: solid 1px #DADADA;
	border-radius: 5px;
	background-color: white;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	line-height: 2em;
	width: 100%;
}

.create-exam tbody select{
	border: solid 1px #DADADA;
	border-radius: 5px;
	background-color: white;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	padding-top: 0px 8px 0px 8px;
	width: 100%;
    height: 2em;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
}



#create-exam{
	background-color: #3577D1;
	color: #FEFEFF;
}
.save:hover{
	color:#255fdf
}
.button-options-container{
	display: flex;
}
.icon-button{
	border: none;
	background-color: transparent;
	display: block;
	width: 100%;
	border: none;
	padding: 14px 15px;
	font-size: 25px;
	cursor: pointer;
	text-align: center;

}
#create-exam:hover{
	background-color: #255fdf;

}

.new-exam-active{
	background-color: #255fdf !important;


}

  form {
	display: flex;
	gap: 5px;
  }

  form td:last-child {

	justify-content: space-evenly;
  }



.save{
	border: none;
	background-color: transparent;
	width: 100%;
	border: none;
	font-size: 27px;
	cursor: pointer;
	text-align: center;
	transition: color 100ms;
}
.save:hover{
	color:#255fdf
}
.button-options-container{
	display: flex;
	gap:
}
.icon-button{
	border: none;
	background-color: transparent;
	display: block;
	width: 100%;
	border: none;
	padding: 14px 15px;
	font-size: 25px;
	cursor: pointer;
	text-align: center;

}


#add,.cancel{
	border: none;
	background-color: transparent;
	display: block;
  width: 100%;
  border: none;
  font-size: 34px;
  cursor: pointer;
  text-align: center;

}

#add{
	font-size: 36px;

}
#add svg,.cancel svg{

	transition: transform 200ms;
}
.cancel{
	transition: transform 100s;

}
.cancel svg:hover{
	color: red;
	transform: rotate(90deg);
}
#add svg:hover{
	color: green;


	transform: rotate(90deg);


}
.edit-view{
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.edit-view input{
	border: solid 1px #a4a5a8;
	border-radius: 5px;
	background-color: #ECECF2;
	font-weight: 100;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	line-height: 2em;
	width: 100%;
}

.icon-button:hover{

	color: #255fdf;

}
.trash-button:hover{
	color:red

}

.image-container{
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	cursor: pointer;
	border-radius: 15px;
	transition: border-radius 200ms;

}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
img{
	transition: transform 200ms;
}
img:hover{
	transform: scale(1.3);
}
.image-container:hover{
	border-radius: 5px;
}
.key-findings{
	display:flex;
}
.image-container{
	max-width: 108.58px;
	min-height: 63px;
}
img{
	max-width: 108.58px;
	max-height: 4em;
	min-height: 63px;
	flex: 1;
	border-radius: 10px;

}
:any-link{
	color: black;
	transition: color 200ms;
}
:any-link:hover{
	color: rgb(76, 135, 245);
}

/*selects the first element of each tr with the attr row i.e patient name*/

.app-container tbody tr[role=row]{

	border-bottom: lightgray solid 1px;

}

tr[role=row] td a{
	color: #3476D1;
	font-weight:regular;
	transition: color 200ms;
}

tr[role=row] td:first-child a:hover{
	color: #1851b9;

}

thead th:first-child, thead th:first-child, tbody td:first-child,thead td:first-child{
	padding:15px 20px 15px 20px;
}
td{
	padding-right: 20px;
}
th{
	white-space: nowrap;
}

.exam-count h1{
	margin-left: 1em;
	margin-bottom: 0.3em;
}

.exam-count p{
	margin-left: 1.8em;
	margin-bottom: 1em;
}
.key-findings div{
	flex: 3;
	margin-left: 30px;
	font-size: 18px
}

#edit-buttons{
	margin-left: auto;
}
/*search function*/

#search-nav{
	align-items: center;
	display: flex;
	min-width: 1000px;
	margin-right: 1%;
}

#search-container{
	display:flex;
	margin-top: 4px;
	padding: .5em;
	align-items: center;
	/* padding-right: 50em; */
	align-items: flex-start; 

}

#search-label{
	font-weight: 100;
	font-size: 1.7em;
	font-family: 'Roboto', sans-serif;
	margin-left: 1em;
	margin-top: 2px;
}

.search-bar{
	border: solid 1px #a4a5a8;
	border-radius: 5px;
	background-color: #ECECF2;
	vertical-align: middle;

	font-weight: 100;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	padding-left: 8px;
	padding-top: 1px;

	min-width: 250px;
	margin-left: 1em;
	margin-right: 1em;
	line-height: 2em;

}

.react-datepicker__input-container input {
    height: 2em;
	border: 2px solid gray;
    border-radius: 4px;
	padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

#edit-list,#create-exam{
	border: 0;
	font-size: 20px;
	margin-left: 1em;
	white-space: nowrap;
	align-self: center;
	cursor: pointer;
	padding: 10px;
	border-radius: 7px;
	flex: 1;


}

#edit-list{
	background-color: transparent;
	color: #4d88da;
	padding: 10px 15px 10px 15px;
	min-width: 101px;
}

#edit-list:hover{
	background-color: #ECECF2;
}


.cancel-edit{
	color: rgb(247, 76, 76) !important;
	background-color: rgb(238, 238, 238) !important;
}

.cancel-edit:hover{
	background-color: rgb(216, 216, 216) !important;

}
.key-exam{

	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
	padding-bottom: 1px;


}

@media screen and (min-width: 1219px) and (max-width: 1460px){
	

	.app-container td:last-child, .app-container td:nth-child(1), .app-container td,th{
		transition: width 700ms;
	 }
	.app-container td{
		cursor: default;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		inline-size: 150px;
    	overflow-wrap: break-word;
    	hyphens: manual;
		max-width: 100px;
		transition: width 700ms;
	 }
	 .app-container td:nth-child(1){
		max-width: 20px;

	 }
	 .app-container td:last-child{
		max-width: 80px;
	 }

	th{
		width: 10px !important
	}
	.key-exam{

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding-bottom: 1px;

	}

}

@media screen and (max-width: 1218px){
	
	.patient-table-container{
		transform: scale(.80);
		margin: 0% 0% 10% -6%;

	}
	.app-container td{
		cursor: default;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		inline-size: 150px;
    	overflow-wrap: break-word;
    	hyphens: manual;
		max-width: 100px;

	 }
	 .app-container td:nth-child(1){
		max-width: 20px;

	 }
	 .app-container td:last-child{
		max-width: 80px;
	 }

	th{
		width: 10px !important
	}
	.key-exam{

		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding-bottom: 1px;

	}

}



